.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100vw;
}

.controls_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
}